.hd_note{
    font-size: x-small;
    padding-left: 65%;
    padding-bottom:5px;
}
.hd_note a:link  {
    font-size: x-small; 
    color: #004276 ;
}
.hd_note a:hover {
    color: red;
  }
  #footer-upgrade , #footer-thankyou{
      display:none;
  }
  #dialog-confirm{
      display: none;
  }
.lavelLoading {
    background-color: #f1f1f1;
    text-align: center;
    padding: 17px;
    font-weight: bold;
    display: none;
}
#lb_date1 {
    float :left;
    margin-left: 11px;
    
}
#lb_date2{
    float: left;
    margin-left: 11px;
   
}
#lb_content_row1{
    padding-bottom: 15px;
    padding-top: 20px;
}
#lb_content_row2{
    padding-top: 10px;
    padding-bottom : 20px;
}
#lb_category{
    float :left;
   margin-left: 11px;
   
}
#lb_agencie{
    padding-left: 11px;
    padding-right: 11px;
    float :left;
   
}
#lb_itmes{
    
}
#lb_cont_title{
   float: left;

  
}
#lb_cont_btn{
    text-align: right;
    padding-bottom: 40px;
    width :45%;
}
h3{
    font-size :1em;
}
.tb1{
   
    margin-left: 12px;
    margin-top:10px;
    margin-bottom: 10px;   
}
.lb_list_num{
    float: left;
    padding-right: 5px;
}
#noElements{
    width: 80%;
    text-align: center;
    font-weight: bolder;
}
